<br><br><br><br><br>
<div id="footer">
	<div class="pagewidth">
		<div class="openhide">
			<div class="word">保持联系</div>
			<a href="javascript:footerShow()" id="footer_show" class="close"></a>
		</div>
		
		<div class="main">
		<div class="mainleft">
			<div class="share clearfix">
				<!-- <a class="weixin" href="##"></a> -->
				<!-- <a class="foottel" href="##"></a> -->
			</div>
		</div>
		<div class="mainright">
			<div class="footnav clearfix">
				<div class="lineword clearfix">
					<a href="javascript:getNewsletter();" class="word">订阅电子通讯</a>
					<a href="javascript:getPages('contactus');" class="word">电邮我们</a>
					<a href="/misc/images/ydtk.pdf" class="word" target="_blank">预订条款</a>
				</div>
				<div class="ulli">
					<ul class="clearfix">
						<li><a href="/about">关于奥莲</a></li>
						<li><a href="javascript:getPrivacy();">网上隐私条例</a></li>
						<li><a href="javascript:getBaoXian();">保险</a></li>
						<li><a href="javascript:getLegal();">法律声明</a></li>
						<li><a href="javascript:getPages('tsyjy');">投诉与建议</a></li>
						<li><a href="javascript:getPages('contactus');">联络我们</a></li>
					</ul>
				</div>
			</div>
			<div class="copyright">
				<div class="logo"></div>
				<div class="word"><a href="http://www.miitbeian.gov.cn/" target="_blank">粤ICP备15094714号-1</a></div>
				<div class="clear"></div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
		</div>
	</div>
</div>

<div id="POPBox"></div>
<div id="closePOPBox"></div>
<div id="bgMask"></div>
<div id="bgTransparent">
	<form action="/pay/" method="post" id="pay_form" onsubmit="return payForm();">
	<div class="searchResult"><div class="box clearfix">
		<div class="top"></div>
		<div id="searchResult"></div>
		<br><br><br>
		<div class="bottom">
			<input type="image" id="queding_btn" class="submit" src="/misc/images/misc/queding.png" /> &nbsp;&nbsp;&nbsp;&nbsp;
			<img id="xiugai_btn" class="submit" src="/misc/images/misc/xiugai.png" />
		</div>
	</div></div>
	</form>
</div>
</body> 
</html> 
<script src="/misc/js/jquery.ui.widget.js"></script>
<script src="/misc/js/fileupload/load-image.all.min.js"></script>
<script src="/misc/js/fileupload/canvas-to-blob.min.js"></script>
<script src="/misc/js/fileupload/bootstrap.min.js"></script>
<script src="/misc/js/fileupload/jquery.iframe-transport.js"></script>
<script src="/misc/js/fileupload/jquery.fileupload.js"></script>
<script src="/misc/js/fileupload/jquery.fileupload-process.js"></script>
<script src="/misc/js/fileupload/jquery.fileupload-image.js"></script>
<script src="/misc/js/fileupload/jquery.fileupload-validate.js"></script>
