<{include file="head.html"}>
<div id="header">
	<div class="top-bg"></div>
	<div class="pagewidth clearfix">
	  <div class="pmain">
	  	<div class="ttop clearfix">
	  		<a class="language clearfix" href="##"><div class="word">中文</div><div class="icon"></div></a>
	  	</div>
	  	<div class="logomenu clearfix">
		    <a class="logo" href="/" title="首页" rel="home"><img src="/misc/images/logo.png" alt="首页" /></a>
		    <div id="main-menu" class="navigation">
		        <ul id="main-menu-links" class="links clearfix">
		        	<li class="menu first"><a href="/"<{if $action eq ''}> class="active"<{/if}>></a></li>
					<li class="menu"><a href="##"<{if $action eq 'news'}> class="active"<{/if}> title="">最新消息</a></li>
					<li class="menu"><a href="/about"<{if $action eq 'about'}> class="active"<{/if}> title="">关于奥莲</a></li>
					<li class="menu"><a href="/customize"<{if $action eq 'customize'}> class="active"<{/if}> title="">奥莲尊贵定制</a></li>
					<li class="menu"><a href="/products"<{if $action eq 'products'}> class="active"<{/if}> title="">产品及服务</a></li>
					<li class="menu last"><a href="/recommend"<{if $action eq 'recommend'}> class="active"<{/if}> title="">精选推荐</a></li>
				</ul>	      
			</div><!-- /#main-menu -->
		</div>
		<div id="headerline"></div>
		<a id="aoliansf" href="javascript:getBusiness();"></a>
		<a id="newsletter" href="javascript:getNewsletter();">订阅电子通讯</a>
		<div id="usermember">
		<{if $user|default:''}>
	  		<a class="sigin first clearfix" href="/user/"><{$user}></a> <a class="sigin clearfix" href="/sign?out">退出</a>
	  	<{else}>
	  		<a class="sigin first clearfix" href="javascript:sigin();">会员登入/注册</a>
	  	<{/if}>
	  	</div>
		<div id="searchBox" class="clearfix">
			<div class="left">
				<div class="title"><span>定制您的个人健康方案</span><font>CUSTOMIZE YOUR OWN HEALTH PROPOSAL</font></div>
				<div class="inputs clearfix">
					<span>按项目选择<input type="text" id="projects" /><i></i><div class="delete" onclick="removeSearchInfo()"></div></span>
					<div id="projects_list" class="ptselect">
						<p data="1">海外就诊</p>
						<p data="2">海外医学体检</p>
						<p data="3">全面抗衰老治疗</p>
						<p data="4">MesoThérapie美塑微针焕肤疗法</p>
						<p data="5">植物重金属排毒精华疗程</p>
						<p data="6">ReBalance能量排毒综合疗法</p>
						<p data="7">3D面部改善治疗</p>
						<p data="8">瑞士疗养</p>
						<p data="9">保健品定制</p>
						<p data="10">营养定制</p>
				   </div>
			  </div>
			</div>
			<div class="right">
				<input type="image" id="search_btn" class="submit" src="/misc/images/misc/result-icon.png" />
			</div>
			<form action="/checkout/" method="post" id="search_form" onsubmit="return false;">
			<div id="searchMore"></div>
			</form>
		</div>
		
	  </div>
	</div>
	<div id="banners"></div>
</div>

