<{include file="header.html"}>
<script type="text/javascript">
$("#banners").html('<img src="/misc/images/home/bg.jpg" class="first" /><img src="/misc/images/home/bg1.jpg" /><img src="/misc/images/home/bg2.jpg" />');
</script> 
<div id="content" class="clearfix">
  <div>
	<div class="homecates pagewidth">
		<div class="title">海外医疗支持</div>
		<div class="zaiyao"><p>INTERNATIONAL MEDICAL SUPPORT</p><span>零距离享用世界医疗资源</span></div>
		<div class="listboxs ca hwylzc clearfix">
			<a href="javascript:getCatePage('catepage/jbybjzx')"><img src="/misc/images/home/jbybjzx.png"><p>疾病与保健咨询</p></a>
			<a href="javascript:getCatePage('catepage/hwjzjeczz')"><img src="/misc/images/home/hwjzjeczz.png"><p>海外就诊及二次转诊</p></a>
			<a href="javascript:getCatePage('catepage/hwyxtj')"><img src="/misc/images/home/hwyxtj.png"><p>海外医学体检</p></a>
		</div>
	</div>
  </div>
  <div style="background-color:#f1f1f1;">
	<div class="homecates pagewidth">
		<div class="title">海外保健服务精选</div>
		<div class="zaiyao"><p>OVERSEA HEALTH CARE SERVICE</p><span>挑选全球优秀医疗服务&nbsp;&nbsp;用心维护您的美丽与健康</span></div>
		<div class="listboxs ca clearfix">
			<a href="javascript:getCatePage('catepage/3dpfgszl')"><img src="/misc/images/home/3dpfgszl.png"><p>3D皮肤改善治疗</p></a>
			<a href="javascript:getCatePage('catepage/qmkxlzl')"><img src="/misc/images/home/qmkxlzl.png"><p>全面抗衰老治疗</p></a>
			<a href="javascript:getCatePage('catepage/zwzjspdlc')"><img src="/misc/images/home/zwzjspdlc.png"><p>植物重金属排毒<br>精华疗程</p></a>
			<a href="javascript:getCatePage('catepage/rebalancennldzszhlf')"><img src="/misc/images/home/rebalancennldzszhlf.png"><p>ReBalance能量<br>排毒再生综合疗法</p></a>
		</div>
	</div>
  </div>
  <div>
	<div class="homecates pagewidth">
		<div class="title">奥莲特别定制</div>
		<div class="zaiyao"><p>ONION HEALTH TAILOR-MADE</p><span>挑选全球优秀医疗服务&nbsp;&nbsp;用心维护您的美丽与健康</span></div>
		<div class="listboxs clearfix">
			<a href="javascript:getCatePage('catepage/rsly')"><img src="/misc/images/home/rsly.png"><p>瑞士疗养</p></a>
			<a href="/misc/images/Onionh-hyfwsc.pdf" target="_blank"><img src="/misc/images/home/onionclubzghyfw.png"><p>ONION CLUB<br>尊贵会员服务</p></a>
			<a href="javascript:getCatePage('catepage/jtcybjjh')"><img src="/misc/images/home/jtcybjjh.png"><p>家庭成员保健计划</p></a>
			<a href="javascript:getCatePage('catepage/grhbjpdzfw')"><img src="/misc/images/home/grhbjpdzfw.png"><p>个人化保健品<br>定制服务</p></a>
			<a href="javascript:getCatePage('catepage/grhyydzfw')"><img src="/misc/images/home/grhyydzfw.png"><p>个人化营养定制服务</p></a>
		</div>
		<a href="javascript:getCatePage('catepage/rsjnleyyjt')" style="display:none"><p>瑞士吉尼列尔医院集团</p></a>
		<a href="javascript:getCatePage('catepage/mesotherapie')" style="display:none"><p>MesoThérapie</p></a>	
	</div>
  </div>
</div>
<{include file="footer.html"}>
